.mainContent{
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
}
.conversation{
    overflow: auto;
    padding-top: .5rem;
    flex: 1;
}

.message{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
}
.message.partner{
    flex-direction: row-reverse;
}
.conversation .partner .content{
    background: var(--green);
}

.conversation .content{
    max-width: 50%;
    background: rgb(206, 206, 206);
    border-radius: 2rem;
    padding: 1rem;
    word-wrap: break-word;
    margin: 0;
    white-space: pre-wrap;
}
.message input{
    height: 1.5rem;
}
.avatar{
    border-radius: 50%;
    align-self: flex-start;
    border: 2px solid var(--dark-gray);
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.content img{
    max-height: 5rem;
}
.options{
    position: relative;
}
.message .actions{
    position: absolute;
    z-index: 1;
    background: var(--green);
    border-radius: .5rem;
    left: 100%;
    top: -100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-gray);
}
.partner .actions{
    right: 100%;
    left: initial;
}
.actions>button{
    border: 2px solid var(--dark-gray);
    background: var(--light-gray);
    color: #000;
    margin: .3rem;
    padding: 0.8rem;
    border-radius: .5rem;
    text-align: center;
}
.message .actionsOpen{
    border-radius: .5rem 0 0 .5rem;
    background: var(--green);
}
.partner .actionsOpen{
    border-radius: 0 .5rem .5rem 0;
}
.statusContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.messageStatus{
    align-items: center;
    background: rgb(206, 206, 206);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



/*========== Message Bar ==============*/
.messageBar{
    background: var(--green);
    display: flex;
    min-height: 3rem;
    /*width: 100%;*/
    /*bottom: 2.6rem;
    position: absolute;*/
    border-top: 2px solid var(--dark-gray);
    border-bottom: 1px solid var(--dark-gray);
    align-items: center;
    flex: 0;
}
.fileUpload{
    height: 90%;
    margin: 0px 0.2rem;
    position: relative;
}
.fileUpload label{
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.fileUpload input{
    display: none;
}
.loadBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}
.sp{
    width: 1.5rem;
    height: 1.5rem;
    clear: both;
}
.sp-circle {
	border: 4px rgb(177, 177, 177) solid;
	border-top: 4px rgb( 0,0,0) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

.messageForm{
    width: 100%;
    display: flex;
    height: 90%;
}
.messageForm textarea{
    width: 100%;
}
/*textarea#sender:focus {
    height: 8rem;
    position: relative;
    top: -5.5rem;
}*/
.messageForm input{
    height: 90%;
    margin: .2rem;
}

@media screen and (min-width: 50rem){
    .conversation .content{
        max-width: 70%;
    }
    .avatar{
        height: 3rem;
        width: 3rem;
        margin-left: .5rem;
    }
    .partner .avatar{
        margin-right: .5rem;
        margin-left: 0;
    }
}