.publicFooter{
    background: var(--green);
    min-height: 3rem;
    padding: .5rem;
    color: var(--light-gray);
    border-radius: .5rem .5rem 0 0;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 4rem;
    z-index: -1;
}
.publicFooter p{
    text-align: center;
}
