main.resetPass {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 1rem auto;
    /*border: black 1px solid;*/
    padding-bottom: 4rem;
}
.resetPass h1.title{
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    color: var(--light-gray);

    border-radius: .5rem;
    background-color: var(--green);
    background-image: url('../assets/resetPass.jpg');
    background-size: cover;
    background-position-y: 50%;
}
.resetForm{
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    align-self: center;
    margin-top: 2rem;
}
.resetForm p{
    text-align: justify;
}
.resetForm input{
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}
.resetForm a{
    color: inherit;
    align-self: flex-end;
    font-size: 80%;
}
.resetForm input.submit, .confirmation{
    width: 9rem;
    margin: .5rem auto;
    background: var(--green);
    color: var(--light-gray);
    border-radius: .5rem;
    padding: 0.3rem;
}

.confirmation{
    text-align: center;
    width: initial;
}
.alert{
    background: var(--red);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-gray);
    border-radius: .5rem;
    padding: 0 0.3rem;
}

@media screen and (min-width: 50rem){

    main.resetPass{
        width: 60%;
    }
}